// The atoms file should contain the building blocks,
// as per BEM convention

.button {
  background: inherit;
  border: 1px solid #DDD;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
}