.carousel {
  color: white;
  position: relative;
  .carousel__previous, .carousel__next {
    border-top: 2px solid #DDD;
    border-left: 2px solid #DDD;
    height: 15px;
    position: absolute;
      top: 50%;
    width: 15px;
    z-index: 2;
    &:hover {
      border-color: $carousel-primary;
    }
  }
  @include bem("__previous") {
    left: 1rem;
    transform: rotate(315deg);
  }
  @include bem("__next") {
    right: 1rem;
    transform: rotate(135deg)
  }
  @include bem("__item") {
    position: relative;
  }
  @include bem("__background") {
    background-position-y: 30%;
    background-size: 1200px;
    filter: blur(25px);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  @include bem("__inner") {
    padding: .5rem;
    @include larger-than($screen-medium) {
      display: flex;
      padding: 5rem;
    }
  }
  @include bem("__image") {
    background-repeat: no-repeat;
    display: inline-block;
    height: 380px;
    width: 590px;
  }
  @include bem("__details") {
    display: inline-block;
    padding-top: 1rem;
    @include larger-than($screen-medium) {
      padding-top: 5rem;
    }
  }
  @include bem("__title") {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  @include bem("__text") {
    margin-bottom: 1rem;
  }
  @include bem("__action") {
    @extend .button;
    @include bem("--buy") {
      background: $carousel-primary;
      border: none;
      margin-right: 1rem;
    }
  }
}

// Use a map for the poster URLs
// This helps with the background/foreground poster images from the mockup

$posters-map: (
  wilderpeople: "https://upload.wikimedia.org/wikipedia/en/4/44/Hunt_for_the_Wilderpeople.png",
  nichts-pasiert: "https://upload.wikimedia.org/wikipedia/en/e/e0/A_Decent_Man_%282015_Swiss_film%29.png",
);

@each $title, $url in $posters-map {
  .carousel--#{$title} .carousel__background {
    background-image: url($url);
  }
  .carousel--#{$title} .carousel__image {
    background-image: url($url);
  }
}