// Breakpoints
$screen-small: 350px;
$screen-medium: 600px;
$screen-large: 1200px;

// Colors
$text-color: #222;

// Mixins
@mixin bem($suffix) {
  &#{$suffix} {
    @content;
  }
}

// Media Queries
@mixin larger-than($size) {
  @media (min-width: $size) {
    @content;
  }
}